<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
       <layout class="ch.qos.logback.classic.PatternLayout">
           <Pattern>%d{HH:MM:ss} [%thread] %logger</Pattern>
       </layout>
   </appender>

    <logger name="com.riz" level="TRACE"></logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"></appender-ref>
    </root>
</configuration>
